---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";
import Comments from "../../components/Comments.astro";
import Status from "../../components/Status.astro";

const posts = await getCollection("pages");

const recentPost = posts.find((post) => post.id.replace(".md", "") === "recent");

if (!recentPost) {
  throw new Error("The file 'about.md' was not found in the 'posts' collection.");
}

const { Content } = await recentPost.render();
---

<Layout
  title={recentPost.data.title}
  description={"aboutme"}
  image={recentPost.data.image}
  className="max-w-2xl"
>
  <main>
    <div class="flex items-center justify-between mb-5">
      <h1 class="text-xl font-heading font-bold text-zinc-900 dark:text-zinc-100">
        {recentPost.data.title}
      </h1>
    </div>
    <article>
      <Content />
      <Status />
    </article>
  </main>
</Layout>
