---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";
import Comments from "../../components/Comments.astro";

const posts = await getCollection("pages");

const versionPost = posts.find((post) => post.id.replace(".md", "") === "version");

if (!versionPost) {
  throw new Error("The file 'version.md' was not found in the 'posts' collection.");
}

const { Content } = await versionPost.render();
---

<Layout
  title={versionPost.data.title}
  description={"aboutme"}
  image={versionPost.data.image}
  className="max-w-2xl"
>
  <main>
    <div class="flex items-center justify-between mb-5 mt-4">
      <h1 class="text-xl font-heading font-bold text-zinc-900 dark:text-zinc-100">
        {versionPost.data.title}
      </h1>
    </div>
    <article>
      <Content />
    </article>
  </main>

    
</Layout>
