<div id="mouse-pointer"></div>
<script>
    const mousePointer = document.getElementById('mouse-pointer');
    document.addEventListener('mousemove', (e) => {
      const mouseX = e.clientX;
      const mouseY = e.clientY;
      setTimeout(() => { // 添加延迟追踪效果
        mousePointer.style.transform = `translate(${mouseX}px, ${mouseY}px)`; // 始终位于鼠标指针位置
      }, 30); // 0.2秒延迟
    });
    </script>
<style>
  #mouse-pointer {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
  }
  </style>