@import "https://unpkg.com/open-props/easings.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(98 100% 62%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

@keyframes gradient-change {
  to {
    --＠color-1: hsl(210 100% 59%);
    --＠color-2: hsl(310 100% 59%);
  }
}

/* 默认状态 */
html {
  filter: blur(0);
  transition: filter .3s cubic-bezier(0, 0, 0.8, 1);
  background-color: #1d1e23;            /* 根背景设为黑 */
}
/* 用 ::before 画一个比视窗高得多的黑色层 */
html::before {
  content: '';
  position: fixed;
  top: -100vh;                       /* 往上多拉出一屏 */
  bottom: -100vh;                    /* 往下多拉出一屏 */
  left: 0;
  right: 0;
  background-color: #1d1e23;
  z-index: -1;                       /* 一定要在最底层 */
  pointer-events: none;              /* 不拦截任何事件 */
}
/* 主题切换临时过渡类
.theme-transition {
  filter: blur(20px);
} */


@layer base {
  @font-face {
    font-family: "Geist";
    src: url("/fonts/geist-variable.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Geist Mono";
    src: url("/fonts/geist-mono-variable.woff2") format("woff2");
    font-display: swap;
  }
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  article {
    p {
      @apply my-4 leading-loose tracking-normal;
    }
    h1 {
      @apply my-2 text-xl font-medium dark:text-white;
    }
    h2 {
      @apply my-4 text-lg font-medium dark:text-white;
    }
    h3,
    h4,
    h5,
    h6 {
      @apply my-4 font-medium dark:text-white;
    }
    :not(pre) > code {
      @apply whitespace-nowrap rounded border bg-gray-500/10 px-1 py-0.5 font-mono text-sm font-medium text-black dark:border-zinc-700 dark:bg-zinc-800/50 dark:text-white;
    }
    pre:has(code) {
      @apply my-4 max-h-[600px] overflow-auto rounded-lg border p-4 font-mono text-sm font-medium dark:border-zinc-700;
    }
    img {
      @apply my-4 rounded-lg border dark:border-zinc-700 max-h-96 mx-auto;
    }
    video {
      @apply my-4 rounded-lg border dark:border-zinc-700;
    }
    blockquote {
      @apply my-4 border-l-2 pl-4 border-bgdefault dark:border-fontdefault;
    }
    a {
      @apply dark:text-blue-200 text-orange-600 hover:outline-dotted;
    }
    table {
      @apply my-4 w-full table-auto border-collapse text-sm;
      th {
        @apply border-b p-4 text-left font-medium dark:border-zinc-700;
      }
      td {
        @apply border-b bg-zinc-50 p-4 dark:border-zinc-700 dark:bg-zinc-800;
      }
    }
    ol {
      @apply my-1 list-inside list-decimal space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }
    ul {
      @apply my-1 list-inside list-disc space-y-1 [&_ol]:pl-5 [&_ul]:pl-5;
    }
    kbd {
      @apply rounded border border-b-2 bg-zinc-100 px-1 py-0.5 font-mono text-xs font-medium text-black dark:border-zinc-700 dark:bg-zinc-800 dark:text-white;
    }
    mark {
      @apply dark:bg-yellow-500/50 dark:text-white;
    }
  }
}
figcaption {
  font-size: 0.75rem;
  color: var(--color-gray-500);
  text-align: center;
}

/* Card Container */
.db-card {
  all: initial;
  overflow: hidden;
  display: flex;
  border: 1px solid #83807d68; /* 边框颜色 */
  /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1); 阴影 */
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
  max-height: 11.5rem;
}
.dark .db-card {
  border: 1px solid #3f3f46; /* 边框颜色 */
  background-color: #24262d; /* 背景色 */
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); 阴影 */
}
a.db-card-subject:hover {
  outline-style: none;
}
.db-card-post {
  display: inline-block; /* 或 block，根据需要 */
}
/* Left Image Section */
.db-card-post img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  /* border-right: 2px solid var(--border-color); 图片右侧分隔线 */
  margin-left: 0.5rem;
  border-radius: 8px;
}

/* Right Content Section */
.db-card-content {
  padding: .5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Geist Mono";
}

/* Title */
.db-card-title {
  font-family: "Geist Mono";
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--link-color);
}

.db-card-title:hover {
  text-decoration: underline;
}

/* Category */
.db-card-cate {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.226); */
  border-radius: 7px;
  color: #fff;
  padding: 4px;
  font-size: 0px;
  z-index: 1;
  font-family: "Geist Mono";
  min-width: 3rem;
  text-align: center;
}

/* Rating */
.rating {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 0.5rem;
}

/* Abstract */
.db-card-abstract {
  min-width: 27rem; 
  line-height: 1.5;
  color: var(--text-color-secondary);
  font-size: 13px;
  overflow: auto;
  max-height: 6rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* CSS Variables for Light and Dark Mode */
:root {
  --card-bg: #e6e1dc; /* 浅色背景 */
  --text-color: #1a73e8; /* 浅色文本 */
  --link-color: #1a73e8; /* 链接颜色 */
  --subtext-color: #666666; /* 辅助文本颜色 */
  --highlight-color: #ff9800; /* 高亮颜色 */
  --text-color-secondary: #555555; /* 次级文本颜色 */
  --border-color: #d0d0d0; /* 边框与背景色接近 */
  --background-color: #e6e1dc;
}
:root.dark {
  --background-color: #1d1e24;
  --card-bg: #1d1e24; /* 深色背景 */
  --text-color: #eeeeee; /* 浅色文本 */
  --link-color: #82b1ff; /* 浅蓝色链接 */
  --subtext-color: #aaaaaa; /* 辅助文本颜色 */
  --highlight-color: #ffc107; /* 高亮颜色 */
  --text-color-secondary: #bbbbbb; /* 次级文本颜色 */
  --border-color: #0000000b; /* 边框与背景色接近 */
}

.expressive-code pre {
  overflow-y: auto!important;
  max-height: 500px!important;
}

h1 {
  display: inline-block; 
  position: relative;
  font-size: 56px;
  font-weight: 500;
  letter-spacing: -0.015em;
  color: #ffffff;
  filter: brightness(1.1);
  z-index: 1;
  margin: 0;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #00cfff, #a600ff, #ff006e, #ff8800);
  filter: blur(20px) brightness(1.0);
  opacity: 0.7;
  border-radius: 100px;
  z-index: -1;
  pointer-events: none;
  background-size: 300% 300%;
  animation: gradientShift 10s ease-in-out infinite;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  background: linear-gradient(90deg, #00cfff, #a600ff, #ff006e, #ff8800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: color-burn;
  filter: blur(20px) brightness(1.3);
  z-index: 0;
  pointer-events: none;
  background-size: 300% 300%;
  animation: gradientShift 10s ease-in-out infinite;
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.tk-owo-emotion {
  display: inline;
  vertical-align: baseline; /* 或者使用 baseline，根据你想要的效果 */
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges;   /* Opera */
  image-rendering: crisp-edges;
}