/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 :root {
	--font-family-base: 
	ui-monospace,
	'open-sans',
	'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  	--font-family-mono: 
	'noto-sans-mono',
	ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
	--font-family-pix:  'zpix', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
	--bgc-light: #333338;
	--bgc: #282a35;
	--hc: #9bdbee;
	--fontc: #ffffff;
	--accent: #ffb300;
	--accent-dark: #ff7700;
	--black: 15, 18, 25;
	--gray: #8585a8;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'zpix';
	src: url('/fonts/VonwaonBitmap-16px.woff2') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'noto-sans-mono';
	src: url('/fonts/noto-sans-mono.woff2') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'open-sans';
	src: url('/fonts/open-sans.woff2') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: var(--font-family-base);
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--bgc);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--fontc);
	font-size: 15px;
	letter-spacing: 0.7px;
	position: relative;
}
body::before {
    content: "";
    /* 设置绝对定位，覆盖整个页面 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-size: 100%;
	background-image: url('bg.webp');
    /* 添加模糊效果 */
    filter: blur(5px);
    /* 将遮罩层放置在背景图片前面 */
    z-index: -1;
	min-height: 100vh;
}

::selection {
    /* background-color: ;  */
    color: var(--accent-dark); /* 修改选中文字的前景（文字）颜色 */
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 0em 1em;
	/* padding-top: 10vh; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-pix);
	margin: 1rem 0 0.5rem 0;
	color: var(--hc);
	line-height: 1.2;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
strong,
b {
	font-weight: 700;
}

p img {
	margin: 2rem auto;
	max-height: 600px;
	display: block;
	border-radius: 7px;
}

a {
	color: var(--hc);
	text-decoration: none;
	transition: 0.2s ease;
	font-family: var(--font-family-base)
}
a:hover {
	transition: 0.2s ease;
	color: var(--accent);
	text-decoration: underline;
}
p {
	margin-bottom: 1em;
	transition: 0.2s ease;
	
}

.prose p a {
	border-bottom: solid 1px var(--accent);
	color: var(--hc);
	text-decoration: none;
	transition: all 0.7s cubic-bezier(1,.59,0,.99);
	background-image: linear-gradient(to top,var(--accent),var(--accent));
	background-size: 0% 0;
    background-position: 0 101%;
	background-repeat: no-repeat;
	font-family: var(--font-family-base);
}
.prose p a:hover {
	transition: 0.3s ease;
	border-bottom: #00000000;
    color: var(--bgc);
    background-size: 100% 100%
}
  

.prose {
	line-height: 1.7;
}
.prose p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	border-radius: 8px;
  }
code  {
	font-size: 0.8rem;
	background-color: #00000030;
	border-radius: 2px;
	margin-right: 3px;
	font-family: var(--font-family-mono);
	color: var(--accent);
}
pre {
	padding: 1.5em;
	border-radius: 8px;
	background-color: #0000004a!important;
}
pre > code {
	font-family: var(--font-family-mono);
	font-size: 0.9rem;
	background-color: #00000000;
	color: var(--fontc);
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.1em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.post-comments {
	display: flex;
	align-items: center;
  	flex: auto;
  	flex-direction: column;
  	gap: 0.5rem;
  	margin: 1rem 1rem;
  }
  .tabs {
	max-width: 300px;
	display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: #00000030;
  color: #a6adba;
  }
  .hidden-radio {
	position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  }
  .post-comments .hidden-radio:checked+.tab {
  border-radius: 0.5rem;
  background-color: var(--hc);
  color: #000;
  }
  .post-comments .tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: .875rem;
  cursor: pointer;
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  }
hr {
	border-color: var(--gray);
}