---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const posts = await getCollection("posts");

// 提取所有文章的 tags，并去重
const allTags = [...new Set(posts.flatMap((post) => post.data.tags))].sort();
---

<Layout title="All tags" description="All tags">
  <h1 class="text-xl font-heading font-bold text-zinc-900 dark:text-zinc-100 mb-4">置顶TAG</h1>
  <ul class="grid grid-cols-3 gap-4">
    <li>
      <a
        href={`/tags/折腾期刊`}
        class="group flex justify-between gap-3">
        <span class="group-hover:underline">折腾期刊</span>
      </a>
    </li>
      <li>
        <a
          href={`/tags/月度小结`}
          class="group flex justify-between gap-3">
          <span class="group-hover:underline">月度小结</span>
        </a>
      </li>
      <li>
        <a
          href={`/tags/留学相关`}
          class="group flex justify-between gap-3">
          <span class="group-hover:underline">留学相关</span>
        </a>
      </li>
  </ul>
  <h1 class="text-xl font-heading font-bold text-zinc-900 dark:text-zinc-100 mt-4 mb-4">TAGS</h1>
  <ul class="grid grid-cols-3 gap-4">
    {allTags.map((tag) => (
      <li>
        <a
          href={`/tags/${tag}/`}
          class="group flex justify-between gap-3"
        >
          <span class="group-hover:underline">{tag}</span>
        </a>
      </li>
    ))}
  </ul>
  
</Layout>
