---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import MobileHeader from "../components/MobileHeader.astro"; //移动端header
import Footer from "../components/Footer.astro";
import BlogPost from "../layouts/BlogPost.astro";
import Social from "../components/Social.astro"
import Foot from "../components/Footprints.astro"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return ["zh", "en"].map((lang) => { //lang
    return { params: { lang } };
  });
}
---
<html lang={lang}>
  <head>
    <BaseHead lang={lang} title='404' description='404' />
  </head>
  <body>
    <Header title={t("site.title")} lang={lang} />
    <MobileHeader title={t("site.title")} lang={lang} />
    <div title="404" class="error">404
      <div><Social /></div>
    </div>
  </body>
</html>
<style>
  .error {
    font-size: 15rem;
    font-family: var(--font-family-mono);
    text-align: center;
    margin: 20vh;
  }
</style>