---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-3xl flex-col justify-center"
>
  <main class="space-y-4">
    <img src="/logo.svg" class="mx-auto mb-4 w-1/2" />
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </main>
</Layout>
