---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "../lib/utils";
import PageSearch from "astro-pagefind/components/Search";
const collection = await getCollection("posts");
const posts = collection.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <PageSearch id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
  </main>
  <style>
    :root {
  --pagefind-ui-scale:0.8;
  --pagefind-ui-primary:#1E90FF;
  --pagefind-ui-text:#1E90FF;
  --pagefind-ui-background:#ffffff;
  --pagefind-ui-border:#eeeeee;
  --pagefind-ui-tag:#eeeeee;
  --pagefind-ui-border-width:2px;
  --pagefind-ui-border-radius:8px;
  --pagefind-ui-image-border-radius:8px;
  --pagefind-ui-image-box-ratio:3 / 2;
  --pagefind-ui-font:system,
    -apple-system,
    "BlinkMacSystemFont",
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    "Ubuntu",
    "arial",
    sans-serif;
}
  </style>
</Layout>
