---
import Social from "./Social.astro";
const today = new Date();
---

<footer>
	&copy; 2019 - {today.getFullYear()} Build with Astro.
	<div class="footer-text">Theme by TRON.</div>
</footer>
<style>
	.footer-text {
		padding: 5px 5px 5px 5px;
	}
	footer {
		font-family: var(--font-family-pix);
		padding: 1em 1em 3em 1em;
		color: var(--gray);
		text-align: center;
		z-index: 10;
		position: relative;
	}
</style>
