---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Build with Astro.
	<div>Theme is fixing now.</div>
</footer>
<style>
	:root{
	}
	footer {
		padding: 1em 1em 6em 1em;
		background: var(--bgc);
		color: var(--gray);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
