---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
import Pagefind from "./Pagefind.astro";
---

<header class="mb-6 flex items-center justify-between">
  <nav class="flex items-center gap-4">
    <a href="/"> Home </a>
    <a href="/posts"> Posts </a>
    <a href="/tags"> Tag </a>
    <a href="/search"> Search </a>
    <a href="/zh.xml"> Rss </a>
    <a href="/aboutme"> README.md </a>
    <!-- <a href={`mailto:${EMAIL}`}>email</a> -->
  </nav>
  <!-- <Pagefind /> -->
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
  }
</style>
