---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
// import Pagefind from "./Pagefind.astro";
---

<header class="mb-6 flex items-center justify-between">
  <nav class="flex items-center gap-4">
    <a href="/"> Home </a>
    <a href="/posts"> Posts </a>
    <a href="/tags"> Tag </a>
    <a href="/bmmg">Media</a>
    <a href="https://exercise.asyncx.top" target="_blank">Steps</a>
    <a href="/about">README.md</a>

  </nav>
  <!-- <Pagefind /> -->
  <ThemeToggle />
</header>

<style>
  a {
    @apply font-medium text-zinc-500 hover:text-zinc-900 dark:hover:text-zinc-100;
  }
</style>
