---
import { getBlogPosts } from "../content/config";
import FormattedDate from "./FormattedDate.astro";

const { lang } = Astro.params;

export async function getData(lang) {
  const postf = await getBlogPosts();
  const filteredPosts = postf
    .filter((post) => post.data.lang === lang)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 9);
  return filteredPosts;
}

export async function getStaticPaths() {
  return ["zh", "en"].map((lang) => ({ params: { lang } }));
}

const postf = await getData(lang);
---

<ul>
    <style>
        main {
          width: 960px;
        }
        ul {
          /* display: flex; */
          flex-wrap: wrap;
          gap: 2rem;
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        ul li {
          margin-top: 1rem;
        }
        ul li * {
          
          text-decoration: none;
          transition: 0.2s ease;
        }
    
        ul li img {
          margin-bottom: 0.5rem;
          border-radius: 12px;
        }
        ul li a {
          display: flex;
        }
    
        ul li h5{
          text-align: center;
        }
        .title {
          margin: 0;
          line-height: 1;
        }
        .date {
          padding-right: 2rem;
          margin: 0;
          color: rgb(var(--gray));
        }
    
        /* 标题变色: */
        ul li a:hover h5,
        ul li a:hover .date {
          color: rgb(var(--accent));
        }
        ul a:hover img {
          box-shadow: var(--box-shadow);
        }
        @media (max-width: 720px) {
          ul {
            gap: 0.5em;
          }
          ul li {
    
            width: 100%;
            text-align: center;
          }
          /* ul li:first-child {
            margin-bottom: 0;
          }
          ul li:first-child .title {
            font-size: 1.563em;
          } */
        }
      </style>

    {postf.map((post) => (
      <li>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
        <a href={`/${post.data.lang}/blog/${post.title}`}>
          <p class="title">{post.data.title}</p>
        </a>
      </li>
    ))}
  </ul>