---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LangLink from "./LangLink.astro";

const { lang } = Astro.props;

const homeSlug = `/${lang || ""}`;
const blogSlug = `/${lang || ""}/blog`;
const aboutSlug = `/${lang || ""}/about`;

const { pathname } = Astro.url;

// 添加一个变量以确定是否为文章页面
const isArticlePage = pathname.startsWith(blogSlug);

---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
    <!-- home在手机可删除 -->
      <HeaderLink href={homeSlug}>Home</HeaderLink>
      <HeaderLink href={blogSlug}>Blog</HeaderLink>
      <HeaderLink href={aboutSlug}>About</HeaderLink>
    </div>

  </nav>
</header>
<style>

header {
		display: none;
	  }

  /* 移动设备 */
/* 根据设备宽度来应用样式 */
@media only screen and (max-width: 600px) {
	/* 在宽度小于等于600px的设备上应用以下样式 */
	/* 这里可以放置针对移动设备的样式设置 */
	header {
    z-index: 100;
    position: relative;
		display: block;
	  }

    nav a.active {
    text-decoration: var(--hc);
    /* border-bottom-color: var(--accent); */
  }
    h2 {
        display: none;
    }
	
  }
  
  /* 根据设备类型来应用样式 */
  @media only screen and (pointer: coarse) {
	/* 在触摸屏设备上应用以下样式 */
	/* 这里可以放置针对触摸屏设备的样式设置 */
  }
  
  /* 根据设备方向来应用样式 */
  @media only screen and (orientation: landscape) {
	/* 在横向模式的设备上应用以下样式 */
	/* 这里可以放置针对横向模式的样式设置 */
  }
  
  @media only screen and (orientation: portrait) {
	/* 在纵向模式的设备上应用以下样式 */
	/* 这里可以放置针对纵向模式的样式设置 */
  }
  

  header {
    margin: 0;
    padding: 0 1em;
    background: var(--bgc);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    /* border-bottom: 4px solid transparent; */
    text-decoration: none;
  }
  nav a.active {
    text-decoration: var(--hc);
    /* border-bottom-color: var(--accent); */
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }

</style>
