<div class="music" style="display: none;">
    <iframe id="spotify-iframe" style="border-radius: 12px;" src="https://open.spotify.com/embed/track/1dRq7ThmExMWLOBoysVDfH?utm_source=generator&theme=0" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <script>
        // 监听iframe的load事件
        document.getElementById('spotify-iframe').onload = function() {
            // iframe加载完成后显示音乐容器
            document.querySelector('.music').style.display = 'block';
        };
    </script>
</div>
