---
import { getBlogPosts } from "../content/config";
import FormattedDate from "./FormattedDate.astro";
import { useTranslations } from "../i18n/utils";

const { lang } = Astro.params;

export async function getTopPosts(lang) {
  const posts = await getBlogPosts();
  const topPosts = posts.filter(post => {
    // 过滤置顶文章（如果存在pin属性且为true）
    return post.data.pin && post.data.lang === lang;
  });
  return topPosts;
}

const topPosts = await getTopPosts(lang);
const t = useTranslations(lang);
---

{topPosts.length > 0 && (
  <ul>
    <div>
      {t("home.pin")}
    </div>
    {topPosts.map(post => (
      <li>
        <p class="title">
          <p class="date">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <a href={`/${post.data.lang}/blog/${post.fileName}`}>
            {post.data.title}
          </a>
        </p>
      </li>
    ))}
  </ul>
)}

<style>
  main {
    width: 960px;
  }
  ul {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: flex;
    margin-top: 1rem;
  }
  ul li a {
    display: flex;
    font-family: var(--font-family-mono);
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  .date {
    font-family: var(--font-family-mono);
    
    padding-right: 2rem;
    margin: 0;
    color: var(--gray);
  }

  /* 标题变色: */
  ul li a:hover {
    color: var(--accent);
    text-decoration: none;
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      display:inherit;
      width: 100%;
      /* text-align: center; */
    }

  }
</style>
