---
import { getBlogPosts } from "../content/config";
import { formatDate } from "../lib/utils";

// 随机获取博客文章
export async function getRandomPosts(count) {
  // 洗牌算法
  function shuffleArray(array) {
    return array.sort(() => 0.5 - Math.random());
  }
  const posts = await getBlogPosts();
  const shuffledPosts = shuffleArray(posts);
  return shuffledPosts.slice(0, count); // 获取指定数量的随机文章
}

// 获取随机文章
const randomPosts = await getRandomPosts(3); // 随机获取 3 篇文章
---

<div class="random">
    <h1 class="mb-4 text-xl font-heading font-bold text-zinc-900 dark:text-zinc-100">Random Read</h1>
    <ul class="flex flex-col gap-1.5">
      {randomPosts.map((post) => (
        <li>
          <a
            href={`${post.fileName}`}
            class="group flex justify-between gap-3 text-sm"
            data-umami-event="Random-article"
          >
            <span class="group-hover:underline">{post.data.title}</span>
            <span class="text-nowrap text-zinc-500 font-mono">
              {formatDate(post.data.pubDate)}
            </span>
          </a>
        </li>
      ))}
    </ul>
  </div>
  
