---
import FormattedDate from "./FormattedDate.astro";
import { getBlogPosts } from "../content/config";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const { tag } = Astro.params;
export async function getData(tag,lang) {
  const postf = await getBlogPosts();
  const filteredPosts = postf
    .filter((post) => post.data.tags.includes(tag) && post.data.lang === lang)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  return filteredPosts;
}
const postf = await getData(tag,lang);
---

<ul data-pagefind-ignore="all">
    {postf.map((post) => (
      <li>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
        <a href={`/${post.data.lang}/blog/${post.title}`}>
          <p class="title">{post.data.title}</p>
        </a>
      </li>
    ))}
</ul>
<style>
  main {
    width: 960px;
  }
  ul {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 50vh;
  }
  ul li {
    display: flex;
    margin-top: 1rem;
  }
  ul li * {
    
    text-decoration: none;
    transition: 0.2s ease;
  }

  ul li a {
    display: flex;
    font-family: var(--font-family-pix);
  }

  ul li h5{
    text-align: center;
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  .date {
    font-family: var(--font-family-pix);
    min-width: 110px;
    padding-right: 2rem;
    margin: 0;
    color: var(--gray);
  }

  /* 标题变色: */
  ul li a:hover h5,
  ul li a:hover .date {
    color: var(--accent);
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      display:inherit;
      width: 100%;
      /* text-align: center; */
    }

  }
</style>
