---
import Layout from "../../layouts/Layout.astro";

import Social from "../../components/Social.astro";
import Pin from "../../components/Pin.astro"
import LatestBlogPosts from "../../components/LatestBlogPosts.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return ["zh", "en"].map((lang) => { //lang
    return { params: { lang } };
  });
}
---

<Layout lang={lang} title={t("site.title")} description={t("site.description")}>
	<nav class="homep">
		<img src="/favicon.svg" alt="Logo" width="120">
		<div>
			<h1 class="hometitle">{t("home.title")}</h1>
			<p>{t("home.description.l1")}
			{t("home.description.l2")}</p>
		</div>

	  </nav>
	<div>
	  <Pin />
	  <h3>
		{t("home.recent")}
	  </h3>
	  <LatestBlogPosts />
	  <div class="starr">
		<div class="glowing">
		  <span style="--i:1;"></span>
		  <span style="--i:2;"></span>
		  <span style="--i:3;"></span>
		</div>
		<div class="glowing">
		  <span style="--i:1;"></span>
		  <span style="--i:2;"></span>
		  <span style="--i:3;"></span>
		</div>
		<div class="glowing">
		  <span style="--i:1;"></span>
		  <span style="--i:2;"></span>
		  <span style="--i:3;"></span>
		</div>
		<div class="glowing">
		  <span style="--i:1;"></span>
		  <span style="--i:2;"></span>
		  <span style="--i:3;"></span>
		</div>
	  </div>
	</div>
  
	<style>
	.hometitle {
		font-size: 5rem;
		font-family: var(--font-family-pix);
		background-image: radial-gradient(circle, var(--hc) 20%, var(--gray) 80%);
        background-clip: border-box;
        background-size: 1000% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 10s linear infinite;
        display: inline-block;
	}
	@keyframes textclip {
            to {
                background-position: 200% center;
                }
            }
	.homep {
		font-family: var(--font-family-pix);
		text-align: right;
		margin:3rem 0 3rem 0;
	}
  nav {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
  }
  nav img {
	margin-right: 3rem;
  }
	.glowing {
		  position: relative;
		  min-width: 700px;
		  height: 550px;
		  margin: -150px;
		  transform-origin: right;
		  animation: colorChange 5s linear infinite;
	  }
  
	  .glowing:nth-child(even) {
		  transform-origin: left;
	  }
  
	  @keyframes colorChange {
		  0% {
			  filter: hue-rotate(0deg);
			  transform: rotate(0deg);
		  }
		  100% {
			  filter: hue-rotate(360deg);
			  transform: rotate(360deg);
		  }
	  }
  
	  .glowing span {
		  position: absolute;
		  top: calc(80px * var(--i));
		  left: calc(80px * var(--i));
		  bottom: calc(80px * var(--i));
		  right: calc(80px * var(--i));
	  }
  
	  .glowing span::before {
		  content: "";
		  position: absolute;
		  top: 50%;
		  left: -8px;
		  width: 15px;
		  height: 15px;
		  background: #f00;
		  border-radius: 50%;
	  }
  
	  .glowing span:nth-child(3n + 1)::before {
		  background: rgba(134, 255, 0, 1);
		  box-shadow: 0 0 20px rgba(134, 255, 0, 1),
			  0 0 40px rgba(134, 255, 0, 1),
			  0 0 60px rgba(134, 255, 0, 1),
			  0 0 80px rgba(134, 255, 0, 1),
			  0 0 0 8px rgba(134, 255, 0, .1);
	  }
  
	  .glowing span:nth-child(3n + 2)::before {
		  background: rgba(255, 214, 0, 1);
		  box-shadow: 0 0 20px rgba(255, 214, 0, 1),
			  0 0 40px rgba(255, 214, 0, 1),
			  0 0 60px rgba(255, 214, 0, 1),
			  0 0 80px rgba(255, 214, 0, 1),
			  0 0 0 8px rgba(255, 214, 0, .1);
	  }
  
	  .glowing span:nth-child(3n + 3)::before {
		  background: rgba(0, 226, 255, 1);
		  box-shadow: 0 0 20px rgba(0, 226, 255, 1),
			  0 0 40px rgba(0, 226, 255, 1),
			  0 0 60px rgba(0, 226, 255, 1),
			  0 0 80px rgba(0, 226, 255, 1),
			  0 0 0 8px rgba(0, 226, 255, .1);
	  }
  
	  .glowing span:nth-child(3n + 1) {
		  animation: animate 20s alternate infinite;
	  }
  
	  .glowing span:nth-child(3n + 2) {
		  animation: animate-reverse 30s alternate infinite;
	  }
  
	  .glowing span:nth-child(3n + 3) {
		  animation: animate 50s alternate infinite;
	  }
  
	  @keyframes animate {
		  0% {
			  transform: rotate(180deg);
		  }
		  50% {
			  transform: rotate(0deg);
		  }
		  100% {
			  transform: rotate(360deg);
		  }
	  }
  
	  @keyframes animate-reverse {
		  0% {
			  transform: rotate(360deg);
		  }
		  50% {
			  transform: rotate(180deg);
		  }
		  100% {
			  transform: rotate(0deg);
		  }
	  }
  
	  .starr {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  z-index: -1;
		  overflow: hidden;
		  filter: blur(10px);
	  }
	</style>
	<style>
		@media only screen and (max-width: 700px) {
			div h1{
				font-size: 3rem;
			}
			nav img {
				display: none;
			}
		}
	</style>
  </Layout>