---
import { getBlogPosts } from "../../content/config";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.params;

export async function getRandom(lang) {
    // 洗牌算法
    function getRandomPosts(posts, count) {
    const shuffled = posts.sort(() => 0.5 - Math.random());
    return shuffled.slice(0, count);
    }
  const posts = await getBlogPosts();
  const filteredPosts = posts.filter((post) => post.data.lang === lang);
  const randomPosts = getRandomPosts(filteredPosts, 2); // 随机2篇
  return randomPosts;
}



const randompost = await getRandom(lang);
const t = useTranslations(lang);
---
<div class="random">
    🫵🏻 {t("random.title")}
{randompost.map((post) => (
    <ul>
        <li>
            <a href={`/${post.data.lang}/blog/${post.title}`}>
                <p class="title">{post.data.title}</p>
        </a>    
        </li>
    </ul>
  ))}
</div>
<style>
    .random {
        background-color: #00000030;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 10px;
        transition: .5s all;
        border: #00000000 solid 1px;
        box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    }
    .random:hover {
        transition: .5s all;
        /* border: var(--hc) solid 1px; */
    }
    .random a:hover {
        text-decoration: none;
        color: var(--accent);
    }
    ul li {
        list-style-type: none;
    }
</style>