---
import { getBlogPosts } from "../../../content/config";
import BlogPost from "../../../layouts/BlogPost.astro";
import TableOfContents from '../../../components/utils/TableOfContents.astro';
import { ViewTransitions } from 'astro:transitions';
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
export async function getStaticPaths() {
	const pages = await getBlogPosts();

	const paths = pages.map((page) => {
		return {
			params: { lang: page?.data.lang || "zh", slug: page.fileName },//pagelink
			props: page,
		};
	});

	return paths;
}

const { lang, slug } = Astro.params;
const t = useTranslations(lang);
const page = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await page.render();

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("YYYY.MM.DD");
---

<BlogPost {...page.data} lang={lang}>
	<ViewTransitions />
	<TableOfContents headings={headings} />
	<blockquote><p>{t("date.last")}: {lastModified}</p></blockquote>
	<Content />
</BlogPost>
